<br/>

<div class="item html" style="float:right">
    <h2>0</h2>
    <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
      <circle id="circle" ng-style="stroke_dashoffset" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#6fdb6f" fill="none"/>
     </g>
    </svg>
</div>


<form  name="regForm"  ng-submit="submitForm()"  ng-animate="'animate'">
	<div class="form-group">
		<label for="usr">Question:</label> 
		<span>{{question.title}}</span>
	</div>
	<div class="form-group"> 
	  <input type="radio" ng-model="userans" value="1" ng-required></input>

		<label for="usr">Option (a) :</label> 
		<span>{{question.answer1}}</span>
		<span ng-show="option1_wrong"> <img src="assets/images/wrong.png" style="width: 12px;height: 12px;" /> </span>
		<span ng-show="option1_right"> <img src="assets/images/right.png" style="width: 12px;height: 12px;" />  </span>


	</div>

	<div class="form-group">
		<input type="radio" ng-model="userans" value="2" ng-required></input>
		<label for="usr">Option (b) :</label> 
		<span>{{question.answer2}}</span>
		<span ng-show="option2_wrong"> <img src="assets/images/wrong.png" style="width: 12px;height: 12px;" /> </span>
		<span ng-show="option2_right"> <img src="assets/images/right.png" style="width: 12px;height: 12px;" /> </span>

	<div class="form-group"> 
	  <input type="radio" ng-model="userans" value="3" ng-required></input>

		<label for="usr">Option (c) :</label> 
		<span>{{question.answer3}}</span>
		<span ng-show="option3_wrong"> <img src="assets/images/wrong.png" style="width: 12px;height: 12px;" /> </span>
		<span ng-show="option3_right"> <img src="assets/images/right.png" style="width: 12px;height: 12px;" />  </span>


	</div>


	<div class="form-group"> 
	  <input type="radio" ng-model="userans" value="4" ng-required></input>

		<label for="usr">Option (d) :</label> 
		<span>{{question.answer4}}</span>
		<span ng-show="option4_wrong"> <img src="assets/images/wrong.png" style="width: 12px;height: 12px;" /> </span>
		<span ng-show="option4_right"> <img src="assets/images/right.png" style="width: 12px;height: 12px;" />  </span>


	</div>
	<div class="form-group">
		<input type="button" ng-click="validateAnswer()" class="btn btn-primary active" value="Answer" ng-show="showSubmit"/>

		<input type="button"  ng-click="nextQuestion()" class="btn btn-primary active" value="Next" ng-show="!showSubmit"/>
	</div>
</form>
